<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.blackblind.befirst">

    <meta-data
        android:name="firebase_crashlytics_collection_enabled"
        android:value="false" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_square"
        android:label="@string/app_name"
        android:logo="@mipmap/logo_square"
        android:roundIcon="@mipmap/logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="Publisher">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".FirstActivity" />
        </activity>
        <activity
            android:name=".RegistrationActivity"
            android:label="New Account">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ChoiceActivity" />
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="Login">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ChoiceActivity" />
        </activity>
        <activity
            android:name=".ThinkActivity"
            android:label="Think &amp; Say">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".FirstActivity" />
        </activity>
        <activity android:name=".FirstActivity">

        </activity>
        <activity
            android:name=".FeedbackActivity"
            android:label="Feedback">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".FirstActivity" />
        </activity>
        <activity android:name=".User_ThoughtActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".FirstActivity" />
        </activity>
        <activity
            android:name=".ChoiceActivity"
            android:label="Move Ahead">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".FirstActivity" />
        </activity>
        <activity android:name=".SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>